//#e6b31e;
* {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
    color: #FFFF;
}

span {
    color: #D3D3D3;
}

a {
    color: #D3D3D3;
}
li {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    justify-content: center;
}
.container {
    display: inline-block;
    justify-content: center;
    border-radius: 0.5em;
    align-items: center;
    width: 30em;
    margin: 2em;
    padding: 2em;
}

.forgot-password {
    text-align: right;
    margin-top: 0.8em;
    margin-bottom: 6em;
}

.submit-button {
    width: 100%;
    height: 2.6em;
    padding: 0.2em 0.4em;
    margin-top: 2em;
    box-sizing: border-box;
    background-color: #D3D3D3;
    color: #414141;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1em;
    border: none;
}

.submit-button:hover {
    background-image: linear-gradient(to right, #e6b31e,#D3D3D3);
}

.submit-button:active {
    background-color: #FFFF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.submit-button:focus {
    outline: none;
    box-shadow: none;
}

.login-form {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #D3D3D3;
    outline: 0;
    font-size: 1.1rem;
    color: #D3D3D3;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.login-form:focus {
      padding-bottom: 6px;  
      border-width: 3px;
      border-image: linear-gradient(to right, #e6b31e,#D3D3D3);
      border-image-slice: 1;
}
.login-form:focus::placeholder {
    color: transparent;
}

.input {
    position: relative;
    padding: 15px 0 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.input-error {
    font-size: 12px;
    color: #e6b31e;
}

.already-have-account {
    margin-top: 2em;
}

.avatar-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;   
}

.avatar-preview:hover{
    
}