.container {
    background-color: #414141;
}
.container-text {
    
}

.container-avatar {
    display: flex;
    margin-bottom: 0;
}
.container-image {

}
.container-reaction {
    margin-top: 0.5em;
    display: flex;
    flex-grow: 3;
}

.container-comment {
    background-color: #696969;
    margin-bottom: 1em;
    padding: 0.1em;
    border: 0.4em solid #696969;
    border-radius: 10px;
    margin-left: 0.4em;
}

.container-tpcomment {
    
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-text {
    color: #ffff;
}

.post-image {
    width: 100%;
    max-height: 26em;
}

.author-name, .post-date {
    display: block;
}

.author-name, .comment-author {
    color: #ffff;
    font-weight: 700;
    margin-left: 0.5em;
}

.author-name {
    font-size: 1em;
}

.post-date {
    margin-top: 0.3em;
    margin-left: 1em;
    font-size: 0.7em;
    color: #A9A9A9;
}

.post-comment {
    margin-top: 2em;
    display: flex;
}

.react-btn {
    width: 33.3%;
    box-sizing: border-box;
    background: transparent; 
    color: #d3d3d3;
    padding: 0.6em;
    border-radius: 2em;
    border: 0;
}

.react-btn:hover {
    background-color: #d3d3d3;
    color: #202020;
}

.react-btn:focus {
    outline: 0;
}

.comment-input {
    width: 100%;
    border: 0;
    border-radius: 2em;
    background-color: #696969;
    color: #ffff;
    padding: 0.3em;
    height: 2em;
}
.comment-input:focus {
    outline: 0;
}

.comment-avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment-author, .comment {
    margin: 0;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
}
.comment-author {
    font-size: 0.72em;
    font-weight: 750;
    margin: 0;
}
.comment {
    color: #ffff;
    font-size: 0.82em;
}

.divider {
    border: none;
    height: 1px;
    background-color: #696969; 
}

.settings-button {
    background-color: transparent;
    margin-left: auto;
    border: 0;
    border-radius: 10%;
}

.settings-button:focus {
    outline: 0;
}

.settings-button:hover {
    background-color: #d3d3d3;
    .settings-icon {
        color: #202020;
    }
}

.settings-icon {
    color: #d3d3d3;
}
