
<section class="section-navbar">
        <span id="brand">Fakebook</span>
        <img id="user-avatar" [src]=user.avatar_path>
        <span id="user-name">{{user.name}}</span>
        <button id="logout" class="common-button" (click)="logout()">Logout</button>
</section>
<section class="section">
    <div class="container-feed">
        <form [formGroup]="postForm" (ngSubmit)="post()">
            <h1>write post</h1>
            <textarea cols="40" rows="5" id="post-textarea" formControlName="text"></textarea>
            <input type="file" (change)="uploadFile($event)">
            <button id="post-button" class="common-button">Post</button>
        </form>
    </div>
</section>
<ul class="posts">
    <li class="post" *ngFor="let post of posts;">
        <section class="section">
            <div class="container-feed">
                <div class="container-avatar">
                    <img [src]=post.user_avatar alt="Avatar" id="avatar">
                    <div class="container-author">
                        <span id="author-name">{{post.user}}</span>
                        <span id="post-date">{{post.created_at}}</span>
                    </div>
                    <button id="settings-button">
                        <fa-icon id="settings-icon" [icon]="faEllipsisH"></fa-icon>
                    </button>
                    <div class="dropdown-content">
                        
                    </div>
                </div>
                <div class="container-text">
                    <p id="post-text">{{post.text}}</p>
                </div>
                <div class="container-image">
                    <img [src]=post.post_image alt="Post Image" id="post-image">
                </div>
                <div class="container-likes">
                    <span class="likes"><fa-icon [icon]="faThumbsUp"></fa-icon> {{post.likes_amount}}</span>
                </div>
                <div class="container-reaction">
                    <button class="react-btn" (click)="like(post.id)" [ngClass]="{'active-button': post.liked}"><fa-icon [icon]="faThumbsUp"></fa-icon></button>
                    <button class="react-btn"><fa-icon [icon]="faComments"></fa-icon></button>
                </div>
                <hr id="divider">
                <div>
                    <ul>
                        <li *ngFor="let comment of post.comments">
                            <div class="post-comment">
                                <img class="comment-avatar" [src]=comment.user_avatar>
                                <div class="container-comment">
                                    <span class="comment-author">{{comment.name}}</span>
                                    <p class="comment">{{comment.text}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="container-tpcomment">
                        <input #box type="text" class="comment-input" (keyup.enter)="comment(box, post.id)" placeholder="leave a comment...">
                        <button class="comment-photo"><fa-icon id="add-photo-icon" [icon]="faCamera"></fa-icon></button>
                    </div>
                </div>
            </div>
        </section>
        
    </li>
</ul>
