<section class = "section">
    
    <div class="container">
        <h1>Sign up</h1>
        <form [formGroup]="loginForm">
            <div class="input">
                <input formControlName="email" type="text" class="login-form" placeholder="email">
            </div>
            <div class="input">
                <input formControlName="password" type="password" class="login-form" placeholder="password">
            </div>
            <button (click)="login()" type="submit" class="submit-button">Login</button>
        </form>
        <div class="forgot-password">
            <span>i forgot my password</span>
        </div>
    <span>don't have an account? Sign in <a href="/register">here</a></span>
    </div>
</section>

