<section class = "section">
    
    <div class="container">
        <form [formGroup]="registerForm">
            <div class="input-image">
                <h1 id="title">sign in</h1>
                <img [src]="userAvatar" class="avatar-preview">
                <!--<button id="upload-avatar"><fa-icon [icon]="faCamera"></fa-icon></button>-->
                <input formControlName="featured_image" type="file" class="form-control input-image-button" (change)="onFileSubmit($event)">
            </div>
            <div class="input">
                <input type="text" class="login-form" placeholder="name" formControlName="name">
                <mat-error class="input-error" ngxInputErrors [form]="registerForm" controlName="name" displayName="name" *ngIf="registerForm.get('name').touched"></mat-error>
            </div>
            <div class="input">
                <input type="text" class="login-form" placeholder="email" formControlName="email">
                <mat-error class="input-error" ngxInputErrors [form]="registerForm" controlName="email" displayName="email" *ngIf="registerForm.get('email').touched"></mat-error>
            </div>
            <div class="input">
                <input type="text" class="login-form" placeholder="phone" formControlName="phone">
                <mat-error class="input-error" ngxInputErrors [form]="registerForm" controlName="phone" displayName="phone" *ngIf="registerForm.get('phone').touched"></mat-error>
            </div>
            <div class="input">
                <input type="password" class="login-form" placeholder="password" formControlName="password">
                <mat-error class="input-error" ngxInputErrors [form]="registerForm" controlName="password" displayName="password" *ngIf="registerForm.get('password').touched"></mat-error>
            </div>      
            <div class="input">
                <input type="password" class="login-form" placeholder="confirm password" formControlName="confirmPassword">
                <mat-error class="input-error" ngxInputErrors [form]="registerForm" controlName="confirmPassword" displayName="password confirmation" *ngIf="registerForm.get('confirmPassword').touched"></mat-error>
            </div>
            <button mat-raised-button (click)="doRegister()" type="submit" class="submit-button">register</button>
        </form>
    <div class="already-have-account">
        <span>already have an account? click <a href="/">here</a></span>
    </div>
    </div>
</section>
