<section class = "section">
    
    <div class="container">
        <h1>Sign in</h1>
        <form [formGroup]="registerForm">
            <div class="input">
                <input type="text" class="login-form" placeholder="name" formControlName="name">
            </div>
            <div class="input">
                <input type="text" class="login-form" placeholder="email" formControlName="email">
            </div>
            <div class="input">
                <input type="text" class="login-form" placeholder="phone" formControlName="phone">
            </div>
            <div class="input">
                <input type="password" class="login-form" placeholder="password" formControlName="password">
            </div>      
            <div class="input">
                <input type="password" class="login-form" placeholder="confirm password" formControlName="confirmPassword">
            </div>
            <button (click)="doRegister()" [disabled]="!registerForm.valid" type="submit" class="submit-button">Register</button>
        </form>
    <div class="already-have-account">
        <span>already have an account? click <a href="/">here</a></span>
    </div>
    </div>
</section>
