<section class = "form-section">
    
    <div class="form-container">
        <h1>Sign in</h1>
        <div class="input">
            <input [(ngModel)]="name" type="text" class="login-form" placeholder="Name">
        </div>
        <div class="input">
            <input [(ngModel)]="email" type="text" class="login-form" placeholder="Email">
        </div>
        
        <div class="input">
            <input [(ngModel)]="phone" type="text" class="login-form" placeholder="Phone">
        </div>
        <div class="input">
            <input [(ngModel)]="password" type="password" class="login-form" placeholder="Password">
        </div>
        <div class="input">
            <input [(ngModel)]="confirmPassword" type="password" class="login-form" placeholder="Confirm password">
        </div>
        <button (click)="doRegister()" type="submit" class="submit-button">LOGIN</button>
    <div class="already-have-account">
        <span>already have an account? click <a href="#">here</a></span>
    </div>
    </div>
</section>
